Repository NVIDIA-Merlin/distributed-embeddings: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, pylint, clang-format

.pre-commit-config.yaml:

# File introduces automated checks triggered on git events
# to enable run `pip install pre-commit && pre-commit install`

repos:
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        language: python
        entry: yapf
        args: [-i, -vv]
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [--rcfile=.pylintrc]
      - id: clang-format
        name: clang-format
        language: system
        entry: clang-format
        args: [-i]
        files: \.(c|cu|cc|cxx|cpp|h|cuh|hpp|hxx)$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: check-json
      - id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: sort-simple-yaml
      - id: mixed-line-ending
        args: [--fix=no]
  - repo: meta
    hooks:
      - id: check-useless-excludes

cast input to int64 when input offset is used to avoid overflow due to table concat
  distributed_embeddings/python/layers/dist_model_parallel.py
Due: yapf, pylint

Add IntegerLookup OP supporting GPU and on-the-fly vocabulary building.
  .gitmodules
  Makefile
  distributed_embeddings/cc/kernels/embedding_lookup.h
  distributed_embeddings/cc/kernels/embedding_lookup_kernels.cc
  distributed_embeddings/cc/kernels/embedding_lookup_kernels.cu
  distributed_embeddings/cc/ops/embedding_lookup_ops.cc
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/embedding.py
  distributed_embeddings/python/layers/integer_lookup_test.py
  distributed_embeddings/python/ops/embedding_lookup_ops.py
  examples/criteo/main.py
Due: yapf, pylint, clang-format

Adjust package import and update Readme
  README.md
  distributed_embeddings/__init__.py
  examples/benchmarks/synthetic_models/main.py
  examples/benchmarks/synthetic_models/synthetic_models.py
  examples/criteo/main.py
Due: yapf, pylint

fix missing okstatus change in new integerlookup op
  distributed_embeddings/cc/ops/embedding_lookup_ops.cc
Due: clang-format

regen docs
  Introduction.html
  _modules/distributed_embeddings/python/layers/dist_model_parallel.html
  _modules/distributed_embeddings/python/layers/embedding.html
  _modules/distributed_embeddings/python/ops/embedding_lookup_ops.html
  _sources/Introduction.md.txt
  searchindex.js
Due: none

Fix graph mismatching problem on broadcast
  distributed_embeddings/python/layers/dist_model_parallel.py
Due: yapf, pylint

Add table grouping and support for data parallel strategy and row slicing strategy.
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
Due: yapf, pylint

Update documentations
  README.md
  docs/source/embedding.rst
  docs/source/userguide.rst
Due: none

bump doc version
  Introduction.html
  _modules/distributed_embeddings/python/layers/dist_model_parallel.html
  _modules/distributed_embeddings/python/layers/embedding.html
  _modules/distributed_embeddings/python/ops/embedding_lookup_ops.html
  _modules/index.html
  _sources/Introduction.md.txt
  _sources/embedding.rst.txt
  _sources/userguide.rst.txt
  dist_model_parallel.html
  embedding.html
  genindex.html
  index.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  userguide.html
Due: none

bump version to 1.0.0
  docs/source/conf.py
  version.txt
Due: yapf, pylint

Fix the wrong multiple GPU example command
  examples/benchmarks/synthetic_models/README.md
Due: none

Optimized varied hotness wgrad kernel - up to an order of magnitude faster
  Makefile
  distributed_embeddings/cc/kernels/embedding_lookup_kernels.cu
  distributed_embeddings/python/ops/embedding_lookup_ops_test.py
  examples/benchmarks/synthetic_models/main.py
  examples/benchmarks/synthetic_models/synthetic_models.py
Due: yapf, pylint, clang-format

Fix mixed precision issues in row-parallel and data-parallel modes
  distributed_embeddings/python/layers/dist_model_parallel.py
Due: yapf, pylint

Fix variable naming
  distributed_embeddings/python/layers/dist_model_parallel.py
Due: yapf, pylint

Add an integration test for all paralellism modes
  distributed_embeddings/python/layers/dist_model_parallel_test.py
Due: yapf, pylint

Fix example out-of-memory error by moving back to the legacy optimizers
  examples/benchmarks/synthetic_models/main.py
Due: yapf, pylint

Add support for CPU offloading
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
  distributed_embeddings/python/layers/embedding.py
Due: yapf, pylint

Add support for ragged data-parallel inputs
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
Due: yapf, pylint
