Repository NVIDIA-Merlin/distributed-embeddings: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, pylint, clang-format

.pre-commit-config.yaml:

# File introduces automated checks triggered on git events
# to enable run `pip install pre-commit && pre-commit install`

repos:
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        language: python
        entry: yapf
        args: [-i, -vv]
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: [--rcfile=.pylintrc]
      - id: clang-format
        name: clang-format
        language: system
        entry: clang-format
        args: [-i]
        files: \.(c|cu|cc|cxx|cpp|h|cuh|hpp|hxx)$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: check-json
      - id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: sort-simple-yaml
      - id: mixed-line-ending
        args: [--fix=no]
  - repo: meta
    hooks:
      - id: check-useless-excludes

update README.md
  README.md
Due: none

update dates and versions
  README.md
  docs/source/conf.py
Due: yapf, pylint

add module docs and update yead
  Introduction.html
  _modules/distributed_embeddings/python/layers/dist_model_parallel.html
  _modules/distributed_embeddings/python/layers/embedding.html
  _modules/distributed_embeddings/python/ops/embedding_lookup_ops.html
  _modules/index.html
  _sources/Introduction.md.txt
  dist_model_parallel.html
  embedding.html
  genindex.html
  objects.inv
  py-modindex.html
  searchindex.js
  userguide.html
Due: none

version 0.1 updates
  README.md
  build_pip_pkg.sh
  distributed_embeddings/__init__.py
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
  setup.py
  version.txt
Due: yapf, pylint

regenerate docs for v0.1
  Introduction.html
  _sources/Introduction.md.txt
  embedding.html
  searchindex.js
Due: none

remove unnecessary lib and target path. switch to use /usr/local/cuda
  Makefile
  third_party/gpus/cuda/include
Due: none

version 0.2 updates
  .clang-format
  .gitmodules
  .pylintrc
  Makefile
  distributed_embeddings/cc/kernels/embedding_lookup.h
  distributed_embeddings/cc/kernels/embedding_lookup_kernels.cc
  distributed_embeddings/cc/kernels/embedding_lookup_kernels.cu
  distributed_embeddings/cc/ops/embedding_lookup_ops.cc
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
  distributed_embeddings/python/layers/embedding.py
  distributed_embeddings/python/layers/embedding_test.py
  distributed_embeddings/python/ops/embedding_lookup_ops.py
  distributed_embeddings/python/ops/embedding_lookup_ops_test.py
  examples/benchmarks/synthetic_models/main.py
  examples/benchmarks/synthetic_models/synthetic_models.py
  version.txt
Due: yapf, pylint, clang-format

generate docs for v0.1
  Introduction.html
  _modules/distributed_embeddings/python/layers/dist_model_parallel.html
  _modules/distributed_embeddings/python/layers/embedding.html
  _modules/distributed_embeddings/python/ops/embedding_lookup_ops.html
  _modules/index.html
  _static/_sphinx_javascript_frameworks_compat.js
  _static/basic.css
  _static/doctools.js
  _static/documentation_options.js
  _static/jquery-3.6.0.js
  _static/jquery.js
  _static/language_data.js
  _static/searchtools.js
  _static/sphinx_highlight.js
  dist_model_parallel.html
  embedding.html
  genindex.html
  index.html
  py-modindex.html
  search.html
  searchindex.js
  userguide.html
Due: none

update build instruction with submodule
  README.md
Due: none

regenerate docs for 02e1ed048b01a770473d25963925d2f1714f95d2
  Introduction.html
  _sources/Introduction.md.txt
  dist_model_parallel.html
  embedding.html
  searchindex.js
Due: none

docs: Add basic SEO and semver to calver change
  distributed_embeddings/python/layers/embedding.py
  docs/README.md
  docs/requirements-doc.txt
  docs/source/_static/css/custom.css
  docs/source/_templates/layout.html
  docs/source/conf.py
Due: yapf, pylint

Resolve "DistributedEmbedding.set_weights fails silently when run on an uninitialized layer."
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
Due: yapf, pylint

load np file in set_weight when file path is used and world_size is 1
  distributed_embeddings/python/layers/dist_model_parallel.py
Due: yapf, pylint

check number of input against map
  distributed_embeddings/python/layers/dist_model_parallel.py
Due: yapf, pylint

check cuda version, fix greater than 32 cg group no longer needing ::experimental error
  distributed_embeddings/cc/kernels/embedding_lookup_kernels.cu
Due: clang-format

update base container version
  README.md
Due: none

merge shards from same table on same worker
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
Due: yapf, pylint

update tests
  tests/dist_model_parallel_test.py
  tests/embedding_test.py
Due: yapf, pylint

update docs
  Introduction.html
  _modules/distributed_embeddings/python/layers/dist_model_parallel.html
  _sources/Introduction.md.txt
  dist_model_parallel.html
  embedding.html
  searchindex.js
Due: none

Support custom keras layer in DistributedEmbedding wrapper. Switched submodule to thrust to avoid build issue.
  .gitmodules
  Makefile
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
  distributed_embeddings/python/layers/embedding.py
Due: yapf, pylint

Raise a descriptive exception when global batch size is not divisible by the number of workers
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
Due: yapf, pylint

Add automatically slicing when there is more workers than tables and no column_slice_threshold is set. These case now run without NotImplemented error.
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
Due: yapf, pylint

Add backend optimization that automatically concatenate eligible tables
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
  distributed_embeddings/python/layers/embedding.py
  distributed_embeddings/python/layers/embedding_test.py
  examples/benchmarks/synthetic_models/config_v3.py
  examples/benchmarks/synthetic_models/main.py
Due: yapf, pylint

update README and version
  README.md
  version.txt
Due: none

generate doc for v0.3
  Introduction.html
  _modules/distributed_embeddings/python/layers/dist_model_parallel.html
  _modules/distributed_embeddings/python/layers/embedding.html
  _sources/Introduction.md.txt
  dist_model_parallel.html
  searchindex.js
Due: none

Use tf.shape for graph mode support
  distributed_embeddings/python/layers/dist_model_parallel.py
  tests/dist_model_parallel_test.py
Due: yapf, pylint

Fall back to tf.shape only when static shape is not available
  distributed_embeddings/python/layers/dist_model_parallel.py
Due: yapf, pylint

Use tf.shape for graph mode support (#6)
  distributed_embeddings/python/layers/dist_model_parallel.py
  tests/dist_model_parallel_test.py
Due: yapf, pylint

Keep using lagacy optimizer in unittest
  distributed_embeddings/python/layers/dist_model_parallel_test.py
Due: yapf, pylint

Change to OkStatus() for TensorFlow 2.12 support. Note that this will break build with TF<2.10.
  distributed_embeddings/cc/ops/embedding_lookup_ops.cc
Due: clang-format

update readme for version dependency
  README.md
Due: none

Update horovod and support model.fit() with hybrid data parallel
  distributed_embeddings/python/layers/dist_model_parallel.py
  distributed_embeddings/python/layers/dist_model_parallel_test.py
  examples/benchmarks/synthetic_models/main.py
  examples/benchmarks/synthetic_models/synthetic_models.py
Due: yapf, pylint

regenerate doc
  Introduction.html
  _modules/distributed_embeddings/python/layers/dist_model_parallel.html
  _modules/distributed_embeddings/python/layers/embedding.html
  _modules/distributed_embeddings/python/ops/embedding_lookup_ops.html
  _modules/index.html
  _sources/Introduction.md.txt
  _static/basic.css
  _static/doctools.js
  _static/language_data.js
  _static/searchtools.js
  dist_model_parallel.html
  embedding.html
  genindex.html
  index.html
  py-modindex.html
  search.html
  searchindex.js
  userguide.html
Due: none

update unit test
  tests/dist_model_parallel_test.py
  tests/embedding_test.py
Due: yapf, pylint

update tests directory
  tests/dist_model_parallel_test.py
  tests/embedding_test.py
  version.txt
Due: yapf, pylint

Keep legacy optimizer in unit test post TF switch default
  distributed_embeddings/python/layers/dist_model_parallel_test.py
  tests/dist_model_parallel_test.py
Due: yapf, pylint

relax unit test to 1e-05
  distributed_embeddings/python/layers/dist_model_parallel_test.py
  tests/dist_model_parallel_test.py
Due: yapf, pylint

Build for sm_90 on CUDA 11.8+
  Makefile
Due: none
